@use '../base/variables' as *;

body {
  font-family: $font-main;
  background-color: $bg-color;
  color: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  margin: 0;
  touch-action: manipulation; // avoid zoom on mobile by double click
}