@use "../base/variables" as *;

@media (max-width: 768px) {

  html,
  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .main-container {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    height: 100vh;
  }

  .logo-img {
    height: 20%;
    width: auto;
    margin: 0 auto;
  }

  .column {
    height: auto;
    min-width: 100%;

    &.left-column {
      position: fixed;
      height: $left-column-height;
      width: 100%;
      z-index: 100;
      overflow: hidden;
      justify-content: space-between;

      .stats-container {
        padding: 5px;

        .rps-display-container {
          font-size: 0.75rem;
        }
      }
    }

    &.right-column {
      margin-top: $left-column-height;
      height: calc(100vh - $left-column-height);
      min-width: auto;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch; // iOS scroll

      .upgrades-container {
        padding-bottom: 80px;
      }

      h2 {
        background: $panel-bg;
        padding: 15px 0;
        font-size: 1.5rem;
      }
    }
  }

  .clicker-area {
    .clicker-btn {
      .ship-img {
        height: 140px;
      }
    }
  }

  .upgrade {
    flex-wrap: wrap;

    .upgrade-stats {
      font-size: 1rem;
    }

    .buy-btn {
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  .column {
    &.right-column {
      .upgrade {
        justify-content: space-between;

        .upgrade-info {
          max-width: 60%;
        }
      }

      h2 {
        font-size: 1.25rem;
      }
    }
  }

  h3 {
    font-size: 1rem;
  }


  .clicker-btn .ship-img {
    height: 120px;
  }
}