@use '../base/variables' as *;
@use '../utilities/animations';

button {
    background-color: $button-color;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
    font-family: $font-main;

    &:disabled {
        background-color: $disabled-color;
        cursor: not-allowed;
    }

    &:not(:disabled):hover {
        background-color: $button-color-hover;
    }

    &.buy-btn{
        &:not(:disabled):hover {
            @include animations.pulse-animation(0.75s, 1.05);

            background-color: $button-color;
        }
    }

}