@use '../base/variables' as *;

.prestige-container {
  border-top: 2px dashed $disabled-color;

  .prestige-info {
    text-align: center;
    margin: 10px;
    font-size: 0.9rem;
  }

  .prestige-btn {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    font-family: $font-display;
    background-color: $prestige-button-color-hover;
    &:hover{
      background-color: $prestige-button-color-hover;
    }
    &:disabled {
      background-color: $disabled-color;
    }
  }
}