@use 'sass:color';

$bg-color: #4698ce;
$panel-bg: #fef9e7;
$text-color: #3d3d3d;
$accent-color: #e74c3c;
$sccent-color-hover: color.adjust($accent-color, $lightness: -20%);
$gold-color: #f1c40f;
$disabled-color: #bdc3c7;
$font-main: 'arial';
$font-display: 'arial';