<div class="upgrade" 
     [class.disabled]="!canAfford"
     [ngClass]="'type-' + upgrade.type">
    <div class="upgrade-info">
        <h3 class="upgrade-name">{{ ('upgrade.' + upgrade.id + '.name') | translate }}</h3>
        <p class="upgrade-description">{{ ('upgrade.' + upgrade.id + '.description') | translate }}</p>
    </div>
    <div class="upgrade-stats">
        <div class="upgrade-level">{{ 'upgrade.level' | translate }}: {{ level }}</div>
        <div class="upgrade-cost">{{ 'upgrade.cost' | translate }}: {{ cost | formatNumber }}</div>
    </div>
    <button class="buy-btn" 
            [disabled]="!canAfford"
            (click)="onBuy()">
        {{ 'upgrade.buy' | translate }}
    </button>
</div>
